{% extends "template.html" %}
{% load i18n %}
{% load static %}

{% block body %}
  <nav class="uk-navbar-container uk-margin-large-bottom" uk-navbar>
    <div class="uk-navbar-left">
      <a href="{% url "home" %}" class="uk-navbar-item uk-logo">
        <img src="{% static "corobuddy.svg" %}" alt="{% trans "Corobuddy Logo" %}" />
        {% trans "Corobuddy" %}
      </a>
    </div>
    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav">
        <li><a href="{% url "settings" %}">{% trans "Settings" %}</a></li>
        <li><a href="{% url "logout" %}">{% trans "Log out" %}</a></li>
      </ul>
    </div>
  </nav>

  {% block content_wrap %}
    <main>
      {% block content %}{% endblock %}
    </main>
  {% endblock %}
{% endblock %}
