{% load i18n %}

<div>
  <a href="{% url "challenge_details" challenge.id %}" class="uk-link-muted">
    {% if challenge.is_completed %}
      <div class="uk-card uk-card-default uk-card-body uk-width-1-1 uk-inline">
    {% elif challenge.is_timed %}
      <div class="uk-card uk-card-secondary uk-card-body uk-width-1-1 uk-inline">
    {% else %}
      <div class="uk-card uk-card-primary uk-card-body uk-width-1-1 uk-inline">
    {% endif %}
      <p class="uk-text-meta uk-margin-small-bottom">
        {% if challenge.is_timed %}
          {% trans "Community challenge" %}
        {% else %}
          {% trans "Personal challenge" %}
        {% endif %}
        {% if challenge.is_completed %}
          {% trans "(completed)" %}
        {% else %}
          {% blocktrans trimmed with time_left=challenge.end_timestamp|timeuntil %}
            ({{ time_left }} left)
          {% endblocktrans %}
        {% endif %}
      </p>
      <h3 class="uk-card-title uk-margin-remove-top">{{ challenge.title }}</h3>
      {% if challenge.is_completed %}
        <div class="uk-position-small uk-position-top-right uk-text-large">
          <span uk-icon="check"></span>
        </div>
      {% endif %}
    </div>
  </a>
</div>
