{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <div class="uk-container uk-container-xsmall">
    <p class="uk-text-uppercase uk-text-center">
      {% if challenge.is_timed %}
        {% trans "Community challenge" %}
        &mdash;
        {% blocktrans trimmed with time_left=challenge.end_timestamp|timeuntil %}
          ends in {{ time_left }}
        {% endblocktrans %}
      {% else %}
        {% trans "Personal challenge" %}
      {% endif %}
    </p>

    <h1>{{ challenge.title }}</h1>

    <p>
      {{ challenge.content }}
    </p>

    {% if challenge.prerequisites %}
      <p class="uk-text-meta">
        <span class="uk-margin-right">{% trans "Prerequisites" %}:</span>
        {{ challenge.prerequisites }}
      </p>
    {% endif %}

    {% if links %}
      <hr>
      <ul class="uk-list">
        {% for link in links %}
          <li>
            <a href="{{ link.target }}" target="_blank">
              <span uk-icon="link"></span>
              {{ link.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if not finish_timestamp %}
      <form action="{% url "finish_challenge" challenge.id %}" method="POST" class="uk-margin-large-top">
        {% csrf_token %}
        <button class="uk-button {{ challenge.is_timed | yesno:"uk-button-secondary,uk-button-primary" }} uk-button-large uk-width-1-1">
          {% trans "Finish this challenge" %}
        </button>
      </form>
    {% else %}
      <div class="uk-placeholder uk-margin-large-top">
        <span uk-icon="check"></span>
        {% blocktrans trimmed with finish_date=finish_timestamp|date %}
          You finished this challenge on {{ finish_date }}.
        {% endblocktrans %}
      </div>
    {% endif %}
  </div>
{% endblock %}
