{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <div class="uk-container uk-container-xsmall">
    <h1>{% trans "Welcome!" %}</h1>

    <div class="uk-margin uk-text-center">
      {% if user_picture %}
        <img class="uk-margin-medium-bottom uk-border-circle" width="128" height="128" src="{{ user_picture }}">
      {% endif %}
      <div class="uk-text-lead" aria-label="Logged in as {{ user_full_name }}">
        {{ user_full_name }}
      </div>
      <p class="uk-text-meta">
        {% if completed_challenge_count %}
          {% blocktrans trimmed count counter=completed_challenge_count %}
            You've already completed a challenge. Let's keep going!
          {% plural %}
            You've already completed {{ counter }} challenges. Rock on!
          {% endblocktrans %}
        {% else %}
          {% trans "You haven't completed any challenges yet. Let's get started!" %}
        {% endif %}
      </p>
      <hr class="uk-divider-icon">
      <div class="uk-flex uk-flex-center uk-flex-middle">
        {% comment %} <img class="uk-margin-right uk-border-circle" width="48" height="48" src="https://picsum.photos/48?random=1">
        <img class="uk-margin-right uk-border-circle" width="48" height="48" src="https://picsum.photos/48?random=2">
        <img class="uk-margin-right uk-border-circle" width="48" height="48" src="https://picsum.photos/48?random=3">
        <a href="#">See all your badges</a> {% endcomment %}
        <p class="uk-text-meta">
          {% trans "Once you receive Badges, they will show up here." %}
        </p>
      </div>
    </div>
  </div>

  <div class="uk-container uk-container-xsmall uk-margin-xlarge-top">
    <h2>{% trans "Challenges for You" %}</h2>
    {% if challenges|length %}
      <div class="uk-child-width-1-1@s" uk-grid>
        {% for challenge in challenges %}
          {% include "challenge_card.html" %}
        {% endfor %}
      </div>
    {% else %}
      <p class="uk-text-meta uk-text-center uk-padding">
        {% trans "Sorry, no challenges are currently available. Check by again later!" %}
      </p>
    {% endif %}
  </div>
{% endblock %}
