{% extends "template.html" %}
{% load i18n %}
{% load static %}

{% block body %}
  <main class="uk-container uk-container-xsmall uk-margin-large-top uk-text-center">
    <p>
      <img
        src="{% static "corobuddy.svg" %}"
        alt="{% trans "Corobuddy Logo" %}"
        class="uk-height-medium" />
    </p>

    <h1>{% trans "Corobuddy" %}</h1>

    <div class="uk-flex uk-flex-column uk-margin-large-top">
      <a
        href="{% url "social:begin" "facebook" %}"
        class="uk-button uk-button-default uk-button-large uk-margin-bottom uk-light facebook"
      >
        <span uk-icon="facebook"></span>
        {% trans "Login with Facebook" %}
      </a>
      <a
        href="{% url "social:begin" "google-oauth2" %}"
        class="uk-button uk-button-default uk-button-large"
      >
        <span uk-icon="google"></span>
        {% trans "Login with Google" %}
      </a>
    </div>
  </main>
{% endblock %}
