{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <div class="uk-container uk-container-xsmall">
    <h1>{% trans "Settings" %}</h1>

    <form action="{% url "settings" %}" method="POST">
      {% csrf_token %}

      <div class="uk-margin">
        <label for="daily_challenge_target" class="uk-form-label">
          {% trans "Daily personal challenge target" %}
        </label>
        <p class="uk-text-meta uk-margin-remove-top uk-margin-small-bottom">
          {% trans "This is the maximum number of personal challenges you would like to receive every day. Settings this to zero means you will only get community challenges." %}
        </p>
        <div class="uk-form-controls">
          <select name="daily_challenge_target" id="daily_challenge_target" class="uk-select">
            <option value="0">{% trans "No challenges" %}</option>
            <option value="1">{% trans "A single challenges" %}</option>
            <option value="2">{% trans "Two challenges" %}</option>
          </select>
        </div>
      </div>

      <div class="uk-margin-medium-top uk-flex uk-flex-column">
        <button class="uk-button uk-button-default uk-button-large">
          {% trans "Save" %}
        </button>
      </div>
    </form>
  </div>
{% endblock %}
