{% load i18n %}
{% load static %}

{% get_current_language as LANGUAGE_CODE %}

<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% trans "Corobuddy" %}</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/uikit@3.3.7/dist/css/uikit.min.css"
      integrity="sha256-YUpy7AxZ8OWgDdPIO5KFHWp08fe33vFGX7C/LPj/7a8="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static "main.css" %}" />

    <script
      src="https://cdn.jsdelivr.net/npm/uikit@3.3.7/dist/js/uikit.min.js"
      integrity="sha256-fA2vWzqehbemxqCPDZfB2zDnZ13/Yy7RkpXjs0B84so="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/uikit@3.3.7/dist/js/uikit-icons.min.js"
      integrity="sha256-LqamWt+8VVLWXL0SoJtqGmSB4HL0YSGZldW2MfH160U="
      crossorigin="anonymous"
    ></script>

    {% block end_header %}{% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}

    <footer class="uk-margin-xlarge-top uk-flex uk-flex-center">
      <div>
        <a href="https://gitlab.com/corobuddy/backend/" class="uk-link-muted">
          {% trans "Source code" %}
        </a>
      </div>
      <div>
        <a href="https://wirvsvirushackathon.org/" class="uk-link-muted">
          {% trans 'Implemented during the WirVsVirus Hackathon' %}
        </a>
      </div>
    </footer>

    {% block end_body %}{% endblock %}
  </body>
</html>
