nav img {
  margin-right: 0.5em;
  height: 2em;
}

footer > div {
  padding: 8px 16px;
}

footer > div:not(:first-child) {
  border-left: 1px solid #e5e5e5;
}

.facebook {
  background-color: #4267b2;
}
